.h1 {
    color:white;
}

body {
    background-color: red;
}

p {
    color: white;
}

p {
    font-family: Italic;
    font-weight: bold;
    font-size: large;
    font-style: oblique;
}

h1 {
    font-family: fantasy;
    font-weight: bolder;
    font-size: larger;
    font-variant: small-caps;
}

.style {
    background-color: orange;
}

.body {
    background-color: brown;
}

.nav {
  border: 1px solid red;
  background-color: white;
  color: red;
  padding: 5px;
  width:50px;
  display: inline;
  text-decoration: none;
}

.nav:hover {
  color: red;
  background-color: white;
}