body {
    background-color: red;
}

p {
    color: white;
}

p {
    font-family: Italic;
    font-weight: bold;
    font-size: large;
    font-style: oblique;
}

h1 {
    font-family: fantasy;
    font-weight: bolder;
    font-size: larger;
    font-variant: small-caps;
}

.style {
    background-color: orange;
}

.body {
    background-color: brown;
}

